.App {
  display:flex;
}

html,body{
  margin: 0;
  padding:0;
  font-family: 'Trebuchet MS', sans-serif;
}

nav{
  height:100 vh;
  background-color: rgb(43,43,63);
  color:white;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


Nav .logo-container,
Nav .controls-container
{
padding :40px 25px;
display:flex;
flex-direction:column,
}
nav.logo-container img
{
width: 20px;
}

Nav.icon
{
 
  color:white

}

.dashboard
{
  padding : 30px;
  width:100%;
}
.dashboard.ticket-container
{
height:80vh;
overflow: scroll;

}
.ticket-card
{
  display:flex;
  width:100%;
  
}
.ticket-card
{
  display:flex;
  width:100%;

}

.ticket-card #link
{
  background-color: aliceblue;
  margin:2px;
  padding:30px;
  width:100%;
  display:flex;
  align-items:center;
}

.ticket-card .ticket-color
{
  width:15px !important;
  margin:2px;
  padding:10px !important;
}
